body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color:none;
    background-image: url(./bremah4.jpg);
  }

  .lead {
      background-color: snow;
      font-size: xx-large;
      font-style: normal;
      font-weight: bolder;
  }
  

  .clock-display {
      background-color: transparent;
      color: tomato;
      font-family: 'Times New Roman', Times, serif;
      font-size: xx-large;
      font-weight: bolder;

  }
  
  .plan-text-area{
    background-color:transparent;
    border: none;
    resize: none;
    color: white;
    border-left: 1px solid transparent;
    padding: 10px;
    width: 100%;
  }
  
  .jumbotron {
    text-align: center;
    background-color:blue;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
    background-color:none;
    height: 55px;
    border-bottom: 1px solid rgb(151, 151, 151);
    margin: 5px 0px;
    position: relative;
    padding: 0px;
    z-index: 910;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
    color: black;
  }
  
  .time-box {
    background-color: black;
    color: white;
    border-top: 1px dashed #000000;
    border-bottom: 1px solid black;
  }
  
  .past-hour {
    background-color: teal;
    color: white;
  }
  
  .present-hour {
    background-color:transparent;
    color: red;
  }
  
  .future-hour {
    background-color: #77dd77;
    color: white;
  }

  #saveButt {
    border-left: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #06AED5;
    color: white;
    width: 10%;
    height: 80%;
  }
  
  #saveButt i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  
  .fa-save {
    position: absolute;
    right: 10px;
    top: 12px;
    transition: color 300ms;
    color:red;
    cursor: pointer;
    font-size: 2em;
  }
  
  .fa-saved {
    position: absolute;
    right: 10px;
    top: 12px;
    color: yellow;
    cursor:pointer;
    font-size: 2em;
  }
  
  /* adjusting the clock placement for smaller screens. */
   @media only screen and (max-width: 767px) {
    div.clock-delineator {    
      padding-right: 44px;
    }
  }